@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');


header,main,.bottom-footer,.last-section{
    padding: 3rem;
}
main, .list-group-item{
    background: url(./images/fond.png);
}
.bottom-footer{
    background: url(./images/footer.png);
}
header{
    background: url(./images/header.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

h1{
    color:white;
    font-family: Oswald, sans-serif;
    font-size: 4rem;
    padding-bottom: 2rem;
}

nav{
    font-family: Abel, sans-serif;
    background: -webkit-linear-gradient(top, rgb(100, 183, 233) 0%, rgb(74, 147, 202) 100%);
    background: -o-linear-gradient(top, rgb(100, 183, 233) 0%, rgb(74, 147, 202) 100%);
    background: -ms-linear-gradient(top, rgb(100, 183, 233) 0%, rgb(74, 147, 202) 100%);
    background: -moz-linear-gradient(top, rgb(100, 183, 233) 0%, rgb(74, 147, 202) 100%);
    background: linear-gradient(to bottom, rgb(100, 183, 233) 0%, rgb(74, 147, 202) 100%);
}
.nav-link{
    color: white;
}

.header-img{
    margin-top: 1rem;
    background-color: white;
}

h4{
    font-size: 1.5rem;
    color: #2a2a2a;
}
section p:first-of-type{
    font-weight: bold;
}
.btn{
    background-color: #ff3d00;
    border: none;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.article{
    background: url(./images/fond-article.png);
    margin: 3rem 0;  
}
h5{
    font-weight: bold;
}
h2{
    font-family: oswald, sans-serif;
    font-size: 2.2rem;
}
h6{
    font-family: oswald, sans-serif;
    font-size: 1rem;
    color:#FF3002;
}
main p:first-of-type a{
    color:#FF3002;
}
h3{
    font-family: oswald,sans-serif;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

ul li a, a:hover{
    color:#525252;
    
}
ul{
    padding:0;
    list-style-image: url(./images/fleche.png);
}
li{
    padding-left: 1rem;
}
h3:nth-of-type(2){
    margin: 2rem 0;
}
.blockquote {
    position: relative;
    background-image:url(./images/citation.jpg);
    border-radius: .4em;
}
.blockquote:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 2em solid transparent;
    border-image: url(./images/quote.png);
    border-bottom: 0;
    border-left: 0;
    margin-left: -1em;
    margin-bottom: -0.9em;
}
.last-section{
    background: url(./images/bas-de-page.png);
    padding:3rem;
}
.last-section img {
    width:32%;
    padding-bottom: 0.3rem;
}
.last-section h3{
    padding-bottom: 2rem;
}
.last-section blockquote{
    font-style: italic;
    color:#525252;
    font-size: 1rem;
}
.blockquote-footer{
    color: #2A2A2A;
    font-weight: bold;
}
.last-section p:nth-of-type(2n+1){
    font-weight: bold;
}
.last-section p:last-of-type{
    font-weight: initial;
}
.last-section .btn{
    margin-top: 2rem;
}
.bottom-footer a{
    color: #2A2A2A;
    
}
.bottom-footer{
    text-align: center;
}

@media  screen and (max-width:770px) {
    nav{
        background: transparent;
    }
    .fas{
        color:white;
    }
}