@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');


header,main,footer{
    padding: 3rem;
}
main{
    background: url(./images/fond.png);
}
footer{
    background: url(./images/footer.png);
}
header{
    background: url(./images/header.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

h1{
    color:white;
    font-family: Oswald, sans-serif;
    font-size: 4rem;
    padding: 2rem;
}

nav{
    font-family: Abel, sans-serif;
    background: -webkit-linear-gradient(top, rgb(100, 183, 233) 0%, rgb(74, 147, 202) 100%);
    background: -o-linear-gradient(top, rgb(100, 183, 233) 0%, rgb(74, 147, 202) 100%);
    background: -ms-linear-gradient(top, rgb(100, 183, 233) 0%, rgb(74, 147, 202) 100%);
    background: -moz-linear-gradient(top, rgb(100, 183, 233) 0%, rgb(74, 147, 202) 100%);
    background: linear-gradient(to bottom, rgb(100, 183, 233) 0%, rgb(74, 147, 202) 100%);
}
.nav-link{
    color: white;
}

.header-img{
    margin-top: 1rem;
    background-color: white;
}

h4{
    font-size: 1.5rem;
    color: #2a2a2a;
}
section p:first-of-type{
    font-weight: bold;
}
.btn{
    background-color: #ff3d00;
    border: none;
    padding: 0.5rem 1rem;
}

.article{
    background: url(./images/fond-article.png);
    padding: 1rem;
    margin: 2rem;
}